/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family:'PT Sans', sans-serif;
}
/* HEADER */
header{
    height:60px;
    background-color: rgb(4 132 254);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.header-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn{
    border-radius: 20px;
    padding: 10px;

}
.white-btn{
    background-color: white;
    color: black;

}
.header-links{
    display: flex;
    list-style-type: none;
}
.header-links a {
    color: inherit;
    text-decoration: none;
    padding: .5rem;
}


@media screen and (min-width: 320px){
    .header-nav {
        display: none;
    }
    
}

@media screen and (min-width: 992px) {
    .header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    .header-icon{
        display: none;
    }
    .header-container{
        width: 70%;
        margin: 0 auto;
    }


}

/* /HEADER */

/* MAIN */
/* COMMONS */
.blue-title{
    color:rgb(4 132 254);
    margin-bottom: 1rem;
}
.blue-btn{
    background-color:rgb(4 132 254);
    color:white;
    padding: 0.5rem;
    /* width: 10rem; */
    text-align: center;
    margin-top: 1rem;
    /* margin-left: 55px; */
    
    }
    .blue-icon{
        color: rgb(4 132 254);
        font-size: 100px;
    }
    section {
        padding: 2rem 0 ;
    }

    /* FIVE CARDS SECTION */
.primary-col,
.secondary-col,
.main-cols{
    background-color: rgb(181 221 255);
    margin-bottom: 10px;
    margin-left: 9px;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;

}
.container  {

    width: 90%;
    margin: 0 auto;
    max-width: 1000px;

}
.phone-img{
    position: relative;
    top: 37px;
}

@media screen and (min-width: 320px) {
    .main-row{
        display: block;

    }

}
@media screen and (min-width:768px) {
    .main-row{
        display: flex;
        flex-wrap: wrap;
        
    }
    .primary-col{
        width: 65%;
        text-align: left;
        line-height: 23px;
    }
    .main-cols{
        width: 32%;
    }
    .phone-img {
        width: 60%;
    }
    .blue-btn{
        width:210px ;

    }

}
@media screen and (min-width:992px) {
    .container{
        width: 70%;
        margin: 0 auto;
    }
    .primary-col{
        display: flex;
        justify-content: space-between;

    }
    .main-cols{
        max-height: 355px;
        padding-top: .5rem;
    }
    .phone-img{
        width:350%;
        position: relative;
        top: 90px;
    }
    .blue-icon{
        font-size: 50px;
    }
    .blue-title{
        font-size: 20px;
        margin-bottom: .5rem;
    }
}
 /* /FIVE CARDS SECTION */

 /* TWO CARDS  SECTION */
 #two-cards {
    background-color: rgb(151 146 228);
    padding: 2rem;
    color: white;
    text-align: center;
 }
.two-cards-row .col {
    /* DEBUG */
    min-height: 400px;
    padding: .5rem;
    margin-bottom: 1rem;
    line-height: 30px;
}
.white-col {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 1rem;
    line-height: 25px;
}
.violet-btn {
    background-color: blueviolet;
    color: white;
    border-radius: 100%;
    width: 25px;
    position: relative;
    left: 90px;
}
@media screen and (min-width:768px){
   
    .two-cards-row .col {
        line-height: 40px;
        text-align: left;
    }
    .white-col{
        line: height 40px; ;

    }
    .strategic-title{
        font-size: 50px;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width:992px) {
    .two-cards-row {
        display: flex;
        align-items: flex-end;
    }
    .white-col{
        width: 110%;
    }
    .man-img {
        width: 65%;
    }
    .violet-btn{
        left: 45%;
    }
    .strategic-title{
        font-size: 30px;
        margin-bottom: 2rem;
    }
    
}

 /* /TWO CARDS  SECTION */
 /* TESTIMONIALS SECTION */
 .violet-title {
    color:rgb(151 146 228);
    padding-bottom: 2rem;
 }
 .testimonials-cols {
    background-color: rgb(151 146 228);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    color: white;
    line-height: 40px;
    padding: 2rem;
 }
 .testimonial-heading{
    text-align: center;
    line-height: 30px;
    padding-bottom: 2rem;
 }
 .partners-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
 }
 @media screen and (min-width:768px){
    .testimonials-cols {
        background-color: rgb(151 146 228);
        border-radius: 10px;
        min-height: 200px;
        text-align: center;
        margin: 10px;
        display: flex;
        align-items: center;
     }
     .partners-img{
        margin-right: 2rem;
     }
     
 }
 /* /TESTIMONIALS SECTION */
 /* BENEFITS  SECTION */
 #benefits-section{
    background-color:rgb(151 146 228) ;
    text-align: center;
 }
 .benefits-title{
    color: white;
    font-size: 25px;
    padding: 2rem;
 }
 .benefits-col{
    background-color: white;
    border-radius: 10px;
    min-height: 275px;
    text-align: left;
    margin: 10px;
    padding: 2rem;
 }
 .benefits-col-title{
    color: rgb(151 146 228);
    padding-bottom: 1.5rem;
    
 }
 .violet-nr{
    font-size: 65px;
 }
 .benefits-btn{
    display: block;
    background-color: rgb(151 146 228);
    color: white;
    border-radius: 20px;
    width: 40%;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;

 }
 @media screen and (min-width:768px){
    .benefits-row {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .benefits-col{
        width: calc(90% / 2);
    }
    .benefits-title{
        font-size: 35px;
    }
 }
 @media screen and (min-width:992px){
    .benefits-col {
        width: calc(90% / 3);
    }
 }
 /* /BENEFITS  SECTION */
 /* ABOUT US SECTION */
 .about-us-main-col,
 .about-us-col {
    border: 1px solid black;
    margin: 10px;
 }
.about-us-main-col{
    min-height: 600px;
}
.about-us-col{
    min-height: 300px ;
}
@media screen and (min-width:768px){
    .about-us-row {
        display: flex;
    }
}
 /* /ABOUT US SECTION */
 /* CTA SECTION */
 .cta-section {
    background-color:rgb(151 146 228);
    color: white;
    text-align: center;
    padding: 1rem;
 }
 /* /CTA SECTION */
/* /MAIN */

/* FOOTER */
footer {
    background-color: hsl(0deg 0% 20%);
    color: white;
    padding: 2rem; 
    text-align: center;
}
/* /FOOTER */